<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="static/imagelib.css" type="text/css" />
        <link rel="stylesheet" href="static/dropdown.css" type="text/css" />
        <script type="text/javascript" src="static/imagelib.js"></script>
        <link href="static/thedatepicker/dist/the-datepicker.css" rel="stylesheet" />
        <script src="static/thedatepicker/dist/the-datepicker.js"></script>
    </head>

    <body>

        <div class="container" id="container">

            <div class="page_title_bar" id="page_title_bar">
                <span class="page_title_title">{{ title }}</span>
                <span class="right"><a href='/' alt='Home'><image src="static/home.png" height="28" alt="[Home]"></a></span>
                <span class="right"><img src="static/1x1-transparent.png" width="8" height="1"></span>
                <span class="right"><form name="dlform" method="POST" onSubmit="setRecids();" action="/download">
                    <input type="hidden" name="recids">
                    <input type="image" border="0" src="static/download.png" height="28" alt="[Download]">
                </form></span>
                <span class="right"><img src="static/1x1-transparent.png" width="8" height="1"></span>
                <span class="right"><image src="static/help.png" height="28" alt="[Help]" onClick="help()"></span>
                <span class="right"><img src="static/1x1-transparent.png" width="22" height="1"></span>
                <span class="right">
                    <form id="date" method="post" action="/">
                    <span class="right"><input type="image" border="0" src="static/search.png" height="28" alt="[Search]"></span>
                    <span style="float:right; padding-top:4px;">
                    Select date:&nbsp;<input type="text" name="start" class="date-input" id="date-input">&nbsp;
                    </span>
                    </form>
                </span>
                <span class="right"><img src="static/1x1-transparent.png" width="22" height="1"></span>
                <span class="right">
                    <div class="dropdown">
                      <button class="dropbtn">&nbsp;Select Target&nbsp;</button>
                      <div class="dropdown-content">
                        {% for target in allTargets %}
                        <a href="/search?target={{ target }}">{{ target }}</a>
                        {% endfor %}
                      </div>
                    </div>
                </span>
            </div>

            {% for collection in collections %}
            <div class="collection" id="{{ collection.id }}">

                <div class="collection_title" id="{{ collection.id }}_title">
                    <span class="collection_title_title">{{ collection.title }}</span>
                    <span class="right">Select
                        <span class="button" onClick="selectMulti('{{ collection.prefix }}',1)">[All]</span>
                        <span class="button" onClick="selectMulti('{{ collection.prefix }}',0)">[None]</span>
                        <span class="button" onClick="selectMulti('{{ collection.prefix }}',-1)">[Toggle]</span>
                    </span>
                </div>

                {% for pic in collection.pics %}
                <div class="thumb" id="{{ pic.id }}" data-recid="{{ pic.recid }}">
                    <div class="thumbpic" id="{{ pic.id }}pic">
                        <img class="thumbimg" id='{{ pic.id }}img' onClick="preview('{{ pic.id }}')" src="{{ pic.src }}"></div>
                    <div class="thumbtag" id="{{ pic.id }}tag" onClick="toggle('{{ pic.id }}')">{{ pic.title }}</div>
                </div>
                {% endfor %}

            </div>
            {% endfor %}

            <div class="page_footer_bar" id="page_footer_bar">
                {% if prev %}
                    <form id="prev" method="post" action="/">
                    {% if target %}
                    <input type="hidden" name="target" value="{{ target }}">
                    {% endif %}
                    <input type="hidden" name="start" value="{{ prev }}">
                    <span class="left"><input type="image" border="0" src="static/prev.png" height="28" alt="[Prev]"></span>
                    </form>
                {% endif %}
                {% if next %}
                    <form id="next" method="post" action="/">
                    {% if target %}
                    <input type="hidden" name="target" value="{{ target }}">
                    {% endif %}
                    <input type="hidden" name="start" value="{{ next }}">
                    <span class="right"><input type="image" border="0" src="static/next.png" height="28" alt="[Next]"></span>
                    </form>
                {% else %}
                    <span class="right">(Last)</span>
                {% endif %}
            </div>

        </div>  <!-- container -->

        <!-- Preview modal (js will hide/unhide) -->
        <div class="preview-container" id="preview-container"> 
            <div class="preview-window" id="preview-window">
                <div class="preview-header" id="preview-header">
                    <span class="left" id="preview-filename">Helping myself to help...</span>
                    <span class="right"><span class="button" onClick="closePreview()">&times;</span></span>
                </div>
                <div class="preview-content" id="preview-content">
                    <img class="preview-img" id="preview-img" src="static/comingsoon.png">
                    <div class="preview-deets" id="preview-deets">Fetching FITS Details...</div>
                </div>
                <div class="preview-header" id="preview-footer">
                    <span class="left"><span class="button" onClick="closePreview()">[Close]</span></span>
                    <span class="right"><span class="button" id="preview-select" onClick="TBD()">[Toggle Select]</span></span>
                </div>
            </div>
        </div>

        <!-- Help modal (js will hide/unhide) -->
        <div class="preview-container" id="help-container"> 
            <div class="preview-window" id="help-window">
                <div class="preview-header" id="help-header">
                    <span class="left" id="help-filename">Imagelib Help</span>
                    <span class="right"><span class="button" onClick="closeHelp()">&times;</span></span>
                </div>
                <div class="preview-content" id="help-content">
                    <span class="help-html" id="help-html"><p>Filled in by Javascript.</p></span>
                </div>
                <div class="preview-header" id="help-footer">
                    <span class="left"><span class="button" onClick="closeHelp()">[Close]</span></span>
                </div>
            </div>
        </div>

        <!-- Activate the date picker (https://github.com/thedatepicker/thedatepicker) -->
        <script>
            var obsDates = [ 
                {% for date in obsDates %}
                '{{ date }}',
                {% endfor %}
            ];
            const dateinput = document.getElementById('date-input');
            const datepicker = new TheDatepicker.Datepicker(dateinput);
            datepicker.options.setInputFormat('Y-m-d');
            datepicker.options.addDateAvailabilityResolver(function (date) {
                return obsDates.includes(date.toISOString().substring(0,10));
            });
            datepicker.render();

        </script>

    </body>
</html>
